microsoftlosangeles1
MicrosoftRRDCLab1


PIR images: 

"publisher": "Canonical",
"offer": "UbuntuServer",
"sku": "18.04-LTS",
"version": "18.04.202012010"

"publisher": "MicrosoftWindowsServer",
"offer": "WindowsServer",
"sku": "2016-Datacenter",
"version": "14393.4048.2011170655"

"publisher": "MicrosoftWindowsServer",
"offer": "WindowsServer",
"sku": "2016-Datacenter",
"version": "14393.4048.2011170655"

microsoft-aks
aks
aks-ubuntu-1804-2020-q4
2020.11.11